body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    background: #fff;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0 0 10px;
}
/* Container ======================================*/
.container {
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}
/* Header ======================================*/
.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}



/* Javascript (fixed header)  =================== */

.header.fixed {
    height: auto;
    position: fixed;
    background-color: #31344e;
} 
.header.fixed .header__inner {
    padding-top: 15px;
    padding-bottom: 15px;

    border-bottom: 0;
}
/* /.Javascript (fixed header) ====================*/

.header__inner {
    display: flex;
    padding: 35px 0;
    justify-content: space-between;
    border-bottom: 1px solid #505369;
}
/* Nav ======================================*/
.nav {
    display: flex;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}
.nav__link {
    margin-left: 50px;
    opacity: 0.75;
    color: #fff;
    text-decoration: none;

    transition: opacity 0.2s
    linear;
}
.nav__link:first-child {
    margin-left: 0;
}
.nav__link:hover {
    opacity: 1; 
}

/* Intro ======================================*/
.intro {
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    background: #31344e url("../img/intro-bg.jpg")
    center no-repeat;
    background-size: cover;
}
.intro__inner {
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.intro__title {
    margin: 0 0 30px;
    
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 65px;
    font-weight: 700;
    line-height: 1.1;
    
}
.intro__subtitle {
    margin-bottom: 50px;

    color: #ffffff;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
}
/* Button ======================================*/
.btn{
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;

    border-radius: 5px;
    border: 0;
    cursor: pointer;
    text-align: center;

    color: #ffffff;
    font-family: "Raleway - Semi Bold";
    font-size: 13px;
    font-weight: 400;
    line-height: 1.6;
    text-transform: uppercase;
    text-decoration: none;
    transition.background 0.1s linear;
}
.btn--red {
    background-color:  #e84545;
        
}
.btn--red:hover {
    background-color:  #8b0909;
}
.btn--long {
    min-width: 280px;
}
/* Features ======================================*/
.features{
    display: flex;
    flex-wrap: wrap;
    margin: 95px 0;

}
.features__item {
    padding: 0 40px;
    margin: 25px 0;
    width: 33.33333%;
    text-align: center;
}
.features__icon {
    margin-bottom: 30px;
}
.features__title {
    margin-bottom: 25px;
    color: #2d3033;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    
}
.features__text {
    color: #6c7279;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}
/* Works =========================== */
.works {
    display: flex;
    flex-wrap: wrap;
}
.works__item {
    width: 25%;
    height: 350px;
    position: relative;
    overflow: hidden;
}
.works__item:hover  .works__content {
    opacity: 1;
    
}
.works__img {
    min-width: 100%;


    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    opacity: 0;
    transition: opacity .1s linear;

    text-align: center;

    background-color: rgba(232, 69, 69, 0.9);
 
}
.works__title {
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 5px;
}
.works__text {
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
}

/* Team ========================*/
.team {
    margin: 100px 0;
}
.team__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.team__item {
    width: 25%;
    padding: 0 15px;
}
.team_photo {
    display: block;
    min-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.team__name {
    color: #2d3033;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 8px;
}
.team__prof {
    color: #e84545;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.team__text {
    color: #6c7279;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;

}

/* Social ========================*/
.social {
    display: flex;
}
.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 4px;

    background-color: #fff;
    border: 1px solid #e8ecee;

    transition: background-color .1s linear;
}
.social__link:first-child {
    margin-left: 0;
}
.social__link:hover {
    background-color: #e8ecee;
}
.social__link:hover .social__icon {
    fill: #e84545;
}
.social__icon {
    display: block;
    height: 18px;
    fill: #c6cacc;

    transition: fill .1s linear;
} 
.social--footer {
    justify-content: center;
}
.social--footer .social__link {
    background-color: transparent;
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;
}
.social--footer .social__link:hover {
    background-color: #fff;
}
.social--footer .social__icon {
    fill: #fff
} 

/* Testimonials ========================*/
.testimonials {
    background-color: #53354a;
}

/* For Slider (щоб слайдер не пригав 
при перезавантаженні сторінки */
.testimonials-slider {
    height: 500px;
    overflow: hidden;
}
.testimonials-slider.slick-initialized {
    height: auto;
}
.testimonials__item {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.testimonials__photo {
    width: 50%;
    height: 500px;
    position: relative;
}
.testimonials__img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;

    transform: translateY(-50%);
}
.testimonials__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    width: 50%;
}
.testimonials__text {
    color: #fff;
    font-family: 'Cardo', sans-serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 30px;
}
.testimonials__author {
    font-family: 'Ralleway', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.61;
    color: #fff;
    text-transform: uppercase;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;   
}

.slick-dots li {
    margin: 0 5px;
    padding: 0 0 5px;

}

.slick-dots button {
    background: #fff;

    width: 10px;
    height: 10px;
    border-radius: 50%;

    border: 0;
    padding: 0;

    font-size: 0;
    color: transparent;

    opacity: 0.5;

    cursor: pointer;

}

.slick-dots button:focus {
    outline: 0;
}

.slick-dots .slick-active button {
    opacity: 1;
}
/* Download ========================*/
.download {
    margin: 90px 0;
    text-align: center;
}
.download__title{
    margin-bottom: 10px;
    color: #2d3033;
    font-family: Raleway;
    font-size: 28px;
    font-weight: 300;
    line-height: 0.75;

}
.download__text {
    margin-bottom: 30px;
    color: #2d3033;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
}
/* Footer ========================*/
.footer {
    background-color: #3a3e64;
}
.footer__inner {
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;

}
.footer__block {
    width: 33.33333%;
    padding: 0 20px;

    text-align: center;
}
.footer__title {
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;;
}

.footer__address {
    font-style: normal;
    opacity: 0.5;
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
}
.footer__text {
    opacity: 0.5;
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
}
.copyright{
    background-color: #313454;
    padding: 20px 0;
}
/* Copyright ========================*/
.copyright__text {
    text-align: center;
    color: #808080;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
}
.copyright__text span {
    color: #fff;
}

/* Burger ========================*/
.burger {
    display: none;
    background: none;
    border: 0;
    padding: 9px 2px;
    
    cursor: pointer;

}
.burger__item {
    display: block;
    width: 30px;
    height: 3px;

    background-color: #fff;

    color: transparent;
    font-size: 0px;

    position: relative;

}
.burger__item:before,
.burger__item:after {
    content: "";
    height: 100%;

    background-color: #fff;

    position: absolute;
    right: 0;
    z-index: 1;
}
.burger__item:before {
    top: -8px;
    width: 32px;
}
.burger__item:after {
    bottom: -8px;
    width: 28px;
}


/* Media ========================*/

@media (max-width: 991px) {
    /* Nav */
    .nav {
        display: none;
        flex-direction: column; 
        width: 100%;
        
        text-align: right;

        background-color: #31344e;
        position: absolute;
        right: 0;
        top: 100%;
     
    }
    .nav.show {
        display: flex;
    }
    .nav__link {
        padding: 9px 15px;

    }
    /* Burger */
    .burger {
        display: block;
    }
    /* Intro */
    .intro__title {
        font-size: 47px;
    }

    /* Features */
    .features__item {
        width: 50%;
    }

    /* Testimonials */
    .testimonials__photo {
        width: 100%;
        overflow: hidden;
        margin: 15px 0 40px;
    }
    .testimonials__img {
        min-width: 991px;
        
    }
    .testimonials__content {
        width: 100%;
        padding-left: 0;
        padding-bottom: 40px;
        
        
    }
}
@media (max-width: 1200px) {
    .intro__subtitle {
        font-size: 16px;
    } 
}

@media (max-width: 767px) {
    /* Intro */
    .intro {
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }
    .intro__title {
        font-size: 30px;
    }
    .intro__subtitle {
        font-size: 16px;
    }

    /* Features */
    .features__item {
        width: 100%;
        padding: 0 0;
    }
    .features {    
        margin: 20px 0;
    }
    /* Testimonials */
    .testimonials__text {
        font-size: 25px;
    }
    
}

@media (max-width: 1300px) {
    /* Works */
    .works__item {
        width: 50%;
    }
    
}

@media (max-width: 890px) {
    /* Works */
    .works__item {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 1380px) {
    /* Team */
    .team {
        margin-top: 70px;
        margin-bottom: 50px;
    }
    .team__item {
        width: 50%;
        text-align: center;
    }
    .team_photo {
        min-width: 370px;
        margin-left: auto;
        margin-right: auto;
    }
    .social {
        justify-content: center;
        margin-bottom: 15px;
    }
    .team__inner {
        margin: 0 -20px;
    }

}
@media (max-width: 779px) {
    /* Team */
    .team {
        margin-top: 40px;
        margin-bottom: 25px;
    }
    .team__item {
        width: 100%;
        justify-content: center;
    }
    .team_photo {
        min-width: 370px;
        margin-left: auto;
        margin-right: auto;
    }
    .social {
        justify-content: center;
        margin-bottom: 15px;
    }
    .team__inner {
        margin: 0 -27px;
    }
}

@media (max-width: 622px) {
    /* Download */
    .download {
        margin: 40px 0;
    }
    .download__title {
        font-size: 23px;
        line-height: 1;
        
    }
    /* Button */
    .btn--long { 
        min-width: 250px;
    }
    

}

@media (max-width: 377px) {
    /* Team */
    .team_photo {
        min-width: auto;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 900px) {
    /* Footer */
    .footer__inner {
        padding: 30px 0;
    }
    .footer__block {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 35px;
    }
    .footer__block:last-child {
        margin-bottom: 0;
    }
}    
@media (max-width: 450px) {
    /* Testimonials */
    .testimonials__img {
        right: -120px;
    }
}

@media (max-width: 330px) {
    /* Testimonials */
    .testimonials__img {
        right: -190px;
    }
}

